<div class="my-items">
    <md-subheader class="md-no-sticky">{{items.length}} item{{items.length > 1 ? 's' : ''}} added</md-subheader>
    <div class="my-item"
         ng-repeat="item in items"
         layout="row"
         layout-align="start center"
         layout-padding>

        <div class="my-item__details"
             layout-padding
             flex
             layout="row"
             layout-align="start center"
             md-ink-ripple
             ui-sref="/item/details({id: item.getId()})">
            <img ng-src="{{item.getImageUrl()}}"
                 class="my-item__preview"/>

            <div class="my-item__details-holder"
                 layout-padding>
                <div>{{ item.title }}</div>
                <div>{{ item.description }}</div>
                <div>${{ item.price }}</div>
            </div>
        </div>
        <div class="my-item__buttons"
             layout="row"
             layout-align="center center">
            <md-button class="md-raised"
                       ui-sref="/item/details.edit({id: item.getId()})">
                Edit
            </md-button>
            <md-button class="md-raised md-accent">
                Delete
            </md-button>
        </div>
    </div>
</div>