<div class="my-trades">
    <h3>Requests to me:</h3>

    <div ng-repeat="trade in requests">
        <item-grid items="trade.offered"
                   flex="50"></item-grid>
        <md-icon flex md-svg-icon="action:ic_swap_horiz_24px"></md-icon>
        <item-grid items="trade.requested"
                   flex="50"></item-grid>
    </div>

    <h3>My offers:</h3>

    <div ng-repeat="trade in offers"
         layout="row"
         layout-align="start center"
         class="trade-list"
         layout-padding>
        <item-grid items="trade.offered"></item-grid>
        <md-icon md-svg-icon="action:ic_swap_horiz_24px"
                 class="trade-list__trade-icon"></md-icon>
        <item-grid items="trade.requested"></item-grid>
    </div>
</div>