<div class="my-trades">
    <h3 ng-show="requests.length">Requests to me:</h3>

    <div ng-repeat="trade in requests"
         layout="row"
         layout-align="start center"
         class="trade-item"
         layout-padding
         ng-class="{'trade-item--pending': trade.pending(),
         'trade-item--confirmed': trade.confirmed(),
         'trade-item--rejected': trade.rejected()}">
        <item-grid items="trade.offered"></item-grid>
        <md-icon md-svg-icon="action:ic_swap_horiz_24px"
                 class="trade-item__trade-icon"></md-icon>
        <item-grid items="trade.requested"></item-grid>

        <div ng-show="trade.pending()">
            <md-button class="md-raised md-primary"
                       ng-click="confirm(trade)">
                Confirm
            </md-button>
            <md-button class="md-raised md-accent"
                       ng-click="reject(trade)">
                Reject
            </md-button>
        </div>

        <a class="md-button"
           ui-sref=".details({id: trade.getId()})">Trade details</a>
    </div>

    <h3 ng-show="offers.length">My offers:</h3>

    <div ng-repeat="trade in offers"
         layout="row"
         layout-align="start center"
         class="trade-item"
         layout-padding
         ng-class="{'trade-item--pending': trade.pending()}">
        <item-grid items="trade.offered"></item-grid>
        <md-icon md-svg-icon="action:ic_swap_horiz_24px"
                 class="trade-item__trade-icon"></md-icon>
        <item-grid items="trade.requested"></item-grid>

        <md-button class="md-raised md-accent">
            Delete
        </md-button>

        <a class="md-button"
           ui-sref=".details({id: trade.getId()})">Trade details</a>
    </div>
</div>