<div class="my-wishes">
    <form ng-submit="save(newWish)"
            layout="row"
            layout-align="center center">
        <md-autocomplete flex
                         required
                         md-autoselect
                         md-no-cache="true"
                         md-search-text="newWish.name"
                         md-min-length="2"
                         md-items="item in ['iPhone', 'Google Nexus']"
                         md-item-text="item"
                         placeholder="Add new wish">
            <md-item-template>
                <span md-highlight-text="newWish.name">{{item}}</span>
            </md-item-template>
        </md-autocomplete>
    </form>

    <md-list>
        <md-list-item ng-repeat="wish in wishes">
            {{wish.name}}
        </md-list-item>
    </md-list>
</div>