:root {
  --opacity-black-001: rgba(0, 0, 0, 0.01);
  --opacity-white-09: rgba(255, 255, 255, 0.9);

  --light-gray-bg: #fafaff;
  --header-line-bg: rgb(63, 81, 181);

  --white: rgba(255, 255, 255, 1);
}