.header{
  height: var(--header-height);
  max-height: var(--header-height);
  padding: 0;

  &__search-line{
    padding: .5em;
  }

  md-autocomplete {
    min-width: 0;
    input {
      text-overflow: ellipsis;
    }
  }
}

.logo{
  transition: all .1s ease;

  text-align: center;
  background-color: var(--header-line-bg);
  color: var(--white);
  margin: 0;
  padding-right:0;
  width: var(--sidebar-width);

  &--sm{
    width: auto;
    position: relative;
    padding-right: 1em;
    .logo__text{
      -webkit-transform: rotate(-90deg);
      position: absolute;
      top:0;
      bottom: 0;
      right: -2.5em;
    }
  }
}

.user-menu{
  height: var(--header-height);
  md-menu{
    padding: 0;
  }
  &__photo{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: .33em;
    overflow:hidden;
    md-icon{
      color: var(--header-line-bg)
    }
    &-img{
       width: 48px;
    }
  }
  &__toggler{
    border-radius: 0;
    cursor: pointer;
    line-height: normal;
    margin: 0;
    height: var(--header-height);
    white-space: normal;
    text-transform: none;
  }
}