:root{
  --content-min-height: auto;
}
.sidebar,
.sidebar.md-locked-open{
  height: var(--content-min-height);
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  background-color: var(--light-gray-bg);
  &.md-locked-open {
    position: relative !important;
  }
}

.sidebar-menu{
  margin: 1em 0 0 0;
  padding: 0;
}