<h2 class="md-title">{{!updating ? 'Add new' :'Edit'}} item:</h2>
<form layout="column"
      class="add-item-form">
    <div layout="row"
         layout-align="start center">
        <div ng-show="item.photoUrl"
             class="add-item-form__preview"
             layout-align="center center">
            <img ng-src="{{item.photoUrl}}"/>
        </div>
        <md-button class="md-button md-raised"
                   ngf-select
                   ng-model="item.photo"
                   name="file"
                   ngf-pattern="'image/*"
                   accept="image/*"
                   ngf-max-size="20MB"
                   ngf-min-height="100">
            Choose photo
        </md-button>
    </div>
    <md-input-container required>
        <label>Title</label>
        <input name="title"
               type="text"
               md-maxlength="50"
               ng-model="item.title"/>
    </md-input-container>

    <md-input-container>
        <label>Description</label>
            <textarea name="description"
                      ng-model="item.description"
                      md-maxlength="250"
                      columns="1"></textarea>
    </md-input-container>

    <md-input-container>
        <label>Equivalent price in USD</label>
        <input name="price"
               type="number"
               ng-model="item.price"
               columns="1"
               min="0" max="1000000"/>
    </md-input-container>

    <md-chips
            flex
            ng-model="item.tags"
            readonly="false"
            md-autocomplete-snap
            md-require-match="true"
            required>
        <md-autocomplete
                md-autoselect
                md-min-length="2"
                md-search-text="query"
                md-items="tag in getTags(query)"
                ng-attr-placeholder="{{item.tags.length ? 'Maybe, more?' : 'Add a category'}}"
                md-menu-class="autocomplete-tags">
            <md-item-template>
                <span class="autocomplete-tags__name"
                      md-highlight-text="query"
                      layout="column"
                      layout-align="center start"
                      flex>
                    {{tag.name}}
                </span>
                <span class="autocomplete-tags__category"
                      ng-show="tag.parents.category"
                        flex="50">
                    {{tag.parents.category.name}}{{tag.parents.subCategory ? ', ' + tag.parents.subCategory.name : ''}}
                </span>
            </md-item-template>
            <md-not-found>
                <span flex layout="column"
                      layout-align="center start">No matches found.</span>
            </md-not-found>
        </md-autocomplete>
        <md-chip-template>
            <div class="md-caption">
                <strong>{{$chip.name}}</strong>
                <em>
                    {{$chip.parents.category ? $chip.parents.category.name : ''}}{{$chip.parents.subCategory ? ', ' + $chip.parents.subCategory.name : ''}}
                </em>
            </div>
        </md-chip-template>
    </md-chips>

    <md-checkbox ng-model="item.visible">
        <label>
            Visible for search
        </label>
    </md-checkbox>

    <md-button type="submit"
               class="md-raised md-primary"
               ng-click="save(item)"
               ng-disabled="!item.isValid()">
        {{!updating ? 'Add' :'Edit'}} Item
    </md-button>
</form>
