<div layout="row"
     layout-align="start center">
    <h2 class="md-title"
        flex>
        {{item.title}}
    </h2>
    <md-button ng-if="item && user.isLogged && user._id !== item.userId"
               class="md-raised md-primary"
               ui-sref=".trade">
        Make a Trade
    </md-button>
    <div ng-if="item && user.isLogged && user._id === item.userId"
         layout="row"
         layout-align="center center">
        <md-button class="md-raised"
                   flex="10"
                   ui-sref=".edit">
            Edit
        </md-button>
        <md-button class="md-raised md-accent"
                   flex="10"
                   ng-click="item.deleteConfirm($event)">
            Delete
        </md-button>
    </div>
</div>
<img class="item-details__preview"
     ng-src="/images/{{item.imageId}}"/>
<div>
    {{item.description}}
</div>