<md-grid-list
        class="items-grid"
        md-cols="1"
        md-row-height="1:1">
    <md-grid-tile class="items-grid-item"
                  ng-repeat="item in items"
                  ui-sref="/item/details({id: item.getId()})">
        <img ng-src="/images/{{item.imageId}}"
             class="items-grid-item__preview">

        <md-grid-tile-footer layout-padding
                             class="items-grid-item__footer"
                             layout="column"
                             layout-align="center start">
            <div class="md-body1"
                 flex>
                {{item.title}}
            </div>
            <div class="md-caption items-grid-item__footer-description"
                 flex>
                {{item.description}}
            </div>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>