<md-toolbar class="md-toolbar-tools header">
    <div class="logo"
         layout-align="start center"
         layout="row"
         ng-class="{'md-headline logo--gt-sm': $mdMedia('gt-sm'),'md-caption logo--sm': $mdMedia('sm')}">
        <md-button class="md-icon-button"
                   aria-label="Menu"
                   ng-click="toggleMenu()"
                   hide-gt-md>
            <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
        </md-button>
        <a class="logo__text"
              flex
              ui-sref="/">xchange</a>
    </div>

    <div class="header__search-line"
         flex>
        <md-autocomplete flex
                         md-input-name="autocompleteField"
                         md-selected-item="ctrl.selectedItem"
                         md-search-text="ctrl.query"
                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                         md-item-text="item.display"
                         placeholder="Try to search something">
            <md-item-template>
                <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>

    <div ng-show="user.isLogged"
         layout="row"
         layout-padding
         layout-align="center center"
         class="sidebar-avatar">
        <img class="sidebar-avatar__photo"
             ng-src="{{user.photo}}"/>

        <div flex
             layout="column"
             layout-align="center start">
            <div class="md-title sidebar-avatar__name">
                {{user.name}}
            </div>
            <div class="md-caption sidebar-avatar__email">
                {{user.username}}
            </div>
        </div>

        <md-button class="md-icon-button"
                   aria-label="Menu"
                   ng-click="user.logout(); toggleMenu();">
            <md-icon md-svg-icon="auth:logout_24px"></md-icon>
        </md-button>
    </div>
    <div ng-show="!user.isLogged"
         layout="row"
         layout-align="center center"
         class="sidebar-avatar">
        <md-button ui-sref="/user/login"
                   ng-class="{'md-icon-button': $mdMedia('sm')}">
            <md-icon md-svg-icon="auth:login_24px"></md-icon>
            <label hide-sm>Login</label>
        </md-button>
        <md-button ui-sref="/user/register"
                   ng-class="{'md-icon-button': $mdMedia('sm')}">
            <md-icon md-svg-icon="social:ic_person_add_24px"></md-icon>
            <label hide-sm>Register</label>
        </md-button>
    </div>
</md-toolbar>
