<md-sidenav class="md-sidenav-left md-whiteframe-z1 sidebar"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            layout="column">

    <div ng-if="user.isAdmin()" ng-include="'/partials/admin/menu.html'"></div>

    <ul class="sidebar-menu">
        <li menu-item
            ui-sref="/item/add"
            ng-show="user.isLogged">
            <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
            <label flex>Add Item</label>
        </li>
        <li menu-item
            ui-sref="/my/items"
            ng-show="user.isLogged">
            <md-icon md-svg-icon="content:ic_content_copy_24px"></md-icon>
            <label flex>My Items</label>
        </li>
        <li menu-item
            ui-sref="/my/wishes"
            ng-show="user.isLogged">
            <md-icon md-svg-icon="action:ic_grade_24px"></md-icon>
            <label flex>Wishlist</label>
        </li>
        <li menu-item
            ui-sref="/my/trades"
            ng-show="user.isLogged">
            <md-icon md-svg-icon="action:ic_swap_horiz_24px"></md-icon>
            <label flex>Trades</label>
        </li>
    </ul>
</md-sidenav>