<div layout="row">
    <div class="category-add-form-holder"
         flex="50">
        Add new brand:

        <form>
            <md-input-container required>
                <label>Name</label>
                <input ng-model="brand.name"/>
            </md-input-container>

            <md-input-container>
                <label>Description</label>
                <textarea ng-model="brand.description"></textarea>
            </md-input-container>

            <md-input-container required>
                <label>Category</label>
                <md-select ng-model="brand.categoryId"
                           ng-change="getSubCategories(brand.categoryId)">
                    <md-option value="" selected>No category</md-option>
                    <md-option ng-repeat="cat in categories" value="{{cat._id}}">{{cat.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container required>
                <label>Sub Category</label>
                <md-select ng-model="brand.subcategoryId">
                    <md-option value="" selected>No sub category</md-option>
                    <md-option ng-repeat="cat in subCategories" value="{{cat._id}}">{{cat.name}}</md-option>
                </md-select>
            </md-input-container>

            <md-button type="submit"
                       class="md-raised md-primary"
                       ng-click="save(brand)"
                       ng-disabled="!brand.isValid()">
                Add Item
            </md-button>
        </form>

    </div>
    <div class="category-list-holder">
        <ul>
            <li ng-repeat="cat in categories">
                {{cat.name}}
                <ul ng-if="cat.children.length">
                    <li ng-repeat="child in cat.children">
                        {{child.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>