.sidebar,
.sidebar.md-locked-open{
  height: 100vh;
  width: $sidebar-width;
  min-width: $sidebar-width;
  background-color: $light-gray-bg;
  &.md-locked-open {
    position: relative !important;
  }
}

.sidebar-menu{
  margin: 1em 0 0 0;
  padding: 0;
}