.side-menu,
.side-menu.md-locked-open{
  height: 100vh;
  width: $side-menu-width;
  min-width: $side-menu-width;
  background-color: $light-gray-bg;
}

.side-menu-avatar{
  height: 100px;
  &__photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}